<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Python Code Runner</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Python Code Runner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
    </nav>

    {% block body %}<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Python Code Runner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
    </nav>{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script>
    <!--const keywords = ["print", "input", "else", "if", "elif", "return", "int", "float", "str"];
   function onChange()
   {
        return;
       const textBox = document.getElementById('textBox');
       const text = textBox.innerText;

       const textArray = text.split(" ");
       if(textArray.length > 1)
       {
           let textWithHighlights = '';
           for(let i = 0; i < textArray.length; i++)
           {
               if(keywords.includes(textArray[i])
               {
                   if(splArray > 1)
                   {
                        textWithHighlights += `<span style="color:blue">${splArray[0]}</span>(` + " ";
                   }
                   else
                   {
                        textWithHighlights += `<span style="color:blue">${textArray[i]}</span>` + " ";
                   }
               }
               else textWithHighlights +=  textArray[i] + " ";
           }

           textBox.innerHTML = textWithHighlights;
       }
   }

   function getContent()
   {
        alert("barev");
        document.getElementById("textAreaId").value = document.getElementById("textBox").innerText;
        return;
   }-->


   <!--const keywords = ["print", "input", "else", "if", "elif", "return", "int", "float", "str"];
function onChange()
{
    const textBox = document.getElementById('textBox');
    const text = textBox.innerText;

    const textArray = text.split(" ");
    if(textArray.length > 1)
    {
        let textWithHighlights = '';
        for(let i = 0; i < textArray.length; i++)
        {
            if(keywords.includes(textArray[i])
            {
                if(splArray > 1)

                {
                     textWithHighlights += `<span style="color:blue">${textArray[i]}</span>` + " ";
                }
            }
            else textWithHighlights +=  textArray[i] + " ";
        }

        textBox.innerHTML = textWithHighlights;
    }
}
-->
</script>
</body>
</html>